# This workflow will build and test the TypeScript library
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: TypeScript

on:
  workflow_dispatch: # Manual trigger
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: src/Typescript/package-lock.json
    - name: Install dependencies
      run: npm ci
      working-directory: src/Typescript
    - name: Build
      run: npm run build
      working-directory: src/Typescript
    - name: Test
      run: npm test
      working-directory: src/Typescript
